
@{
    ViewBag.Title = "DeleteItem";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model pet_box.Models.Product


<h2>刪除商品</h2>

<form class="form-horizontal" method="post" action="">

    <div class="form-group">
        <label class="col-md-4 control-label" for="ProductCode">產品代碼</label>
        <div class="col-md-4">
            <input id="ProductCode" name="ProductCode" type="text" value="@Model.ProductCode" placeholder="" class="form-control input-md">

        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label" for="ProductName">名稱</label>
        <div class="col-md-4">
            <input id="ProductName" name="ProductName" type="text" value="@Model.ProductName" placeholder="" class="form-control input-md">

        </div>
    </div>


    <div class="form-group">
        <label class="col-md-4 control-label" for="OKButton"></label>
        <div class="col-md-8">
            <button id="OKButton" name="OkOrCancel" class="btn btn-success" value="Ok">確定</button>
            <button id="CancelButton" name="OkOrCancel" class="btn btn-danger" value="Cancel">取消</button>
        </div>
    </div>

</form>


