
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<h2>訂購成功</h2>

<a href="/Customer/Index" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-home"></span> 回到產品頁</a>
