
@{
    ViewBag.Title = "Customerservice2";
}

<h2>Customerservice2</h2>


客戶資料<br />
姓名: <br />
性別: <br />
帳號: <br />

<br />

意見歷史資訊<br />

<br />

問題<br />

<br />

<br />

<h3>客服回應</h3>



<textarea style="width:300%;height:300%;"></textarea><br />

<br />

<input type="submit" value="送出" onclick="location.href = 'http://localhost:49732/Service/Customerservice'" />



