
@{
    ViewBag.Title = "Workdistinction";
}

<style>
    #title, #cmd, #cus {
        text-align: center;
    }
</style>

<h2 id="title">工作區分</h2>



<h3 id="cmd"><input type="submit" class="btn btn-group btn-lg" value="商品管理" onclick="location.href = 'http://localhost:49732/Sale/Shelf'" /><br /></h3>

<br />

<h3 id="cus"><input type="submit" class="btn btn-group btn-lg" value="處理客戶意見" onclick="location.href = 'http://localhost:49732/Service/Customerservice'" /><br /></h3>




