
@{
    ViewBag.Title = "Workdistinction";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}





<form method="post">

    <div class="container">

        <div class="col-lg-4" style="left:65px;top:20px;">

            <h3 style="color:coral;">後台人員 工作區分</h3>
            <br />
            <h4 style="color:red;">一、 上架人員 </h4>
            <h4>請點選上架商品管理，進行工作</h4>
            <br />
            <h4 style="color:red;">二、 客服人員 </h4>
            <h4>請點選處理客戶問題，進行工作</h4>
            <br />

            <img src="https://cdn2.ettoday.net/images/736/d736983.jpg" width="300" height="200" />

        </div>

        <div class="col-lg-4" style="left:120px;top:15px;font-size:20px;">



            <h2 id="title" style="color:red;">工作區分</h2>



            <h3 id="cmd"><input type="button" class="btn btn-success btn-lg" value="上架商品管理" onclick="location.href = 'http://localhost:49732/Sale/Shelf'" /><br /></h3>

            <br />

            <h3 id="cus"><input type="button" class="btn btn-success btn-lg" value="處理客戶問題" onclick="location.href = 'http://localhost:49732/Service/Customerservice'" /><br /></h3>


            
        </div>

        <div class="col-lg-4" style="left:50px;top:15px">

            <h3 style="color:red">工作類型</h3> <br />
            <h4 style="color:red">上架人員</h4>
            <h4>進行商品的新增、修改、刪除</h4>
            <br />
            <h4 style="color:red">客服人員</h4>
            <h4>了解會員的問題，進行處理</h4>
            <br />

        </div>

    </div>



</form>






@*<h2 id="title">工作區分</h2>



<h3 id="cmd"><input type="submit" class="btn btn-success btn-lg" value="商品管理" onclick="location.href = 'http://localhost:49732/Sale/Shelf'" /><br /></h3>

<br />

<h3 id="cus"><input type="submit" class="btn btn-success btn-lg" value="處理客戶意見" onclick="location.href = 'http://localhost:49732/Service/Customerservice'" /><br /></h3>*@






