@model pet_box.Models.Opinion
@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>會員專區</h2>

<form method="post">

    <button id="OKButton" name="OkOrCancel" class="btn btn-success" value="Ok">修改基本資料</button>
    <button id="CancelButton" name="OkOrCancel" class="btn btn-success" value="Cancel">聯絡客服人員</button>


</form>

