@model pet_box.Models.Customer
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

</head>

<style>
    body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-color: white;
        font-family: 'Microsoft JhengHei', sans-serif;
    }

    .main {
        margin-top: 10px;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 1px;
        margin: 0 auto;
        max-width: 330px;
        padding: 1px 1px;
    }

    .login-button {
        margin-top: 1px;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }
</style>


<form method="post">
    @Html.AntiForgeryToken()
    <div class="container">

        <div class="col-lg-3" style="left:10px;top:20px;">

            <h3 style="color:coral;">歡迎註冊會員</h3>
            <br />
            <h4 style="color:red;">步驟一 註冊成為會員 </h4>
            <h4>請於右方輸入框，輸入基本的資料</h4>
            <br />
            <h4 style="color:red;">步驟二 登入會員 </h4>
            <h4>可以享受會員專屬客製化服務</h4>
            <br />
            <h4 style="color:red;">FAQ 聯絡客服人員 </h4>
            <h4>有任何的問題，歡迎與客服人員聯絡</h4>
            <br />

            <img src="~/product_images/site_product/product/service.jpg" width="300" height="200" />

        </div>

        <div class="col-lg-3" style="left:170px;top:10px;">

            <div class="main-login main-center">


                <br />

                <input type="hidden" name="CustomerRole" value="3" />

                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">姓名 <span style="color:red"> *</span></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="CustomerName" id="name" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">信箱 <span style="color:red"> *</span></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="CustomerEmail" id="email" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">帳號 <span style="color:red"> *</span></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="CustomerLoginName" id="username" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">密碼 <span style="color:red"> *</span></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="CustomerPassword" id="password" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">電話 <span style="color:red"> *</span></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="CustomerMobilePhone" id="phone" placeholder="" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">地址 <span style="color:red"> *</span></label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-truck fa-lg" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="CustomerAddress" id="address" placeholder="" />
                        </div>
                    </div>
                </div>

                <div style="text-align:center;">
                    <input type="submit" class="btn btn-success btn-lg" value="註冊" />
                </div>
                <div>
                    <h4 style="color:red">@ViewBag.Message </h4>
                    <h4 style="color:red">@ViewBag.Message2 </h4>
                    <h4 style="color:red">@ViewBag.Message3 </h4>
                </div>


            </div>
        </div>

        <div class="col-lg-4" style="left:250px;top:50px;">

            <h3 style="color:red"> *代表必填 </h3>

        </div>

    </div>

</form>








<button id="autoFillButton" class="myInvisibleButtionClass" type="button" onclick="OneKeyFillFun();">一鍵搞定</button>



<script>
        function OneKeyFillFun() {
            document.getElementById("name").value = "王小美";
            document.getElementById("email").value = "littleBeauty@domain.com";
            document.getElementById("username").value = "beauty";
            document.getElementById("password").value = "beauty";
            document.getElementById("phone").value = "0423265860 ";
            document.getElementById("address").value = "台中市公益路二段51號20樓";
        }


</script>