
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Register";
}



<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" method="post">
                <h2 style="text-align:center;">會員註冊 <small></small></h2>
                <hr class="colorgraph">
                <div class="row">

                    <input type="hidden" name="CustomerRole" value="3" />

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            請填寫姓名:
                            <input type="text" name="CustomerName" id="CustomerName" class="form-control input-lg" placeholder="" tabindex="1">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            請填寫電話:
                            <input type="text" name="CustomerMobilePhone" id="CustomerMobilePhone" class="form-control input-lg" placeholder="" tabindex="2">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            請填寫帳號:
                            <input type="text" name="CustomerLoginName" id="CustomerLoginName" class="form-control input-lg" placeholder="" tabindex="3">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            請填寫密碼:
                            <input type="password" name="CustomerPassword" id="CustomerPassword" class="form-control input-lg" placeholder="" tabindex="4">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            請填寫信箱:
                            <input type="email" name="CustomerEmail" id="CustomerEmail" class="form-control input-lg" placeholder="" tabindex="5">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            請填寫地址:
                            <input type="text" name="CustomerAddress" id="CustomerAddress" class="form-control input-lg" placeholder="" tabindex="6">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="form-group">
                            請填寫國家:
                            <input type="text" name="CustomerCountry" id="CustomerCountry" class="form-control input-lg" placeholder="" tabindex="7">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-xs-4 col-sm-3 col-md-3">
                        <span class="button-checkbox">

                            <input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
                        </span>
                    </div>
                    <div class="col-xs-8 col-sm-9 col-md-9">

                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6"><input type="submit" value="註冊" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                </div>
                <div>
                    <h4 style="color:red">@ViewBag.Message </h4>
                    <h4 style="color:red">@ViewBag.Message2 </h4>
                    <h4 style="color:red">@ViewBag.Message3 </h4>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Terms & Conditions</h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>


