@model pet_box.Models.Customer
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>

<style>
    body, html {
        height: 100%;
        background-repeat: no-repeat;
        background-color: white;
        font-family: 'Oxygen', sans-serif;
    }

    .main {
        margin-top: 10px;
    }

    hr {
        width: 10%;
        color: #fff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login {
        background-color: #fff;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .main-center {
        margin-top: 1px;
        margin: 0 auto;
        max-width: 330px;
        padding: 1px 1px;
    }

    .login-button {
        margin-top: 1px;
    }

    .login-register {
        font-size: 11px;
        text-align: center;
    }
</style>

<form method="post">

    <div class="container">

        <div class="col-lg-4" style="left:65px;top:20px;">

            <h3 style="color:coral;">歡迎註冊智慧寵物屋會員</h3>
            <br />
            <h4 style="color:red;">步驟一 註冊成為會員 </h4>
            <h4>請於右方輸入框，輸入基本的資料</h4>
            <br />
            <h4 style="color:red;">步驟二 登入會員 </h4>
            <h4>可以享受會員專屬客製化服務</h4>
            <br />
            <h4 style="color:red;">FAQ 聯絡客服人員 </h4>
            <h4>有任何的問題，歡迎與客服人員聯絡</h4>
            <br />

            <img src="https://cdn2.ettoday.net/images/736/d736983.jpg" width="300" height="200" />

        </div>

        <div class="col-lg-4" style="left:150px;top:30px;">

            <div class="main-login main-center">


                    <br />

                    <input type="hidden" name="CustomerRole" value="3" />

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">姓名</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="CustomerName" id="CustomerName" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">信箱</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" name="CustomerEmail" id="CustomerEmail" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="cols-sm-2 control-label">帳號</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="CustomerLoginName" id="CustomerLoginName" placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">密碼</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" name="CustomerPassword" id="CustomerPassword" placeholder="" />
                            </div>
                        </div>
                    </div>

                    <div style="text-align:center;">
                        <input type="submit" class="btn btn-success btn-lg" value="註冊" />
                    </div>
                    <div>
                        <h4 style="color:red">@ViewBag.Message </h4>
                        <h4 style="color:red">@ViewBag.Message2 </h4>
                        <h4 style="color:red">@ViewBag.Message3 </h4>
                    </div>


            </div>
        </div>

        @*<div class="col-lg-4" style="left:100px;top:20px;">

                <h3 style="text-align:center;color:coral">會員專屬客製化</h3>
                <br />
                <h4>成為會員即可擁有專屬客製化服務</h4>
                <br />
                <img src="~/product_images/site_product/product/box_small.jpg" width="300" height="200" />

            </div>*@

    </div>

</form>






